@media print {
  .no-print {
    display: none;
  }
}

.ui.form .disabled.field,
.ui.form .field .ui.input,
.ui.disabled.dropdown,
.ui.form .field.disabled > label {
  opacity: 0.8 !important;
}

.identity-form-focused input,
.identity-form-focused textarea,
.identity-form-focused .ui .selection .dropdown,
.identity-form-focused .dropdown {
  border-color: #85b7d9 !important;
}

.ui .grid .column.row.readOnly {
  padding-top: 0 !important;
  padding-bottom: 1 !important;
}

.field.identity-form-row {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0 !important;
}

.identityText {
  white-space: pre-line;
}

.xInput .input input{
  width: 100% !important;
}
