version: '2'

services:

  ldap.org1.example.com:
    image: demo/ldap:latest
    container_name: ldap.org1.example.com
    restart: always
    environment:
      LDAP_aANISATION: "LDAP Organization"
      LDAP_DOMAIN: "example.com"
      LDAP_BASE_DN: ""
      ORG_NAME: "org1"
      DOMAIN_NAME: "example"
      DOMAIN_ZONE: "com"
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_CONFIG_PASSWORD: "config"
      # Tls
      LDAP_TLS: "True"
      LDAP_TLS_CRT_FILENAME: "ldap.crt"
      LDAP_TLS_KEY_FILENAME: "ldap.key"
      LDAP_TLS_CA_CRT_FILENAME: "ca.crt"
      LDAP_TLS_ENFORCE: "True"
      LDAP_TLS_CIPHER_SUITE: "SECURE256:+SECURE128:-VERS-TLS-ALL:+VERS-TLS1.2:-RSA:-DHE-DSS:-CAMELLIA-128-CBC:-CAMELLIA-256-CBC"
      LDAP_TLS_VERIFY_CLIENT: "never"
      LDAP_REPLICATION: "False"
      KEEP_EXISTING_CONFIG: "False"
      LDAP_REMOVE_CONFIG_AFTER_SETUP: "False"
      LDAP_SSL_HELPER_PREFIX: "ldap"
    command: --copy-service --loglevel debug --dont-touch-etc-hosts
    ports:
      - 636:636
    volumes:
      - /var/lib/ldap
      - /etc/ldap/slapd.d
      - $PROJECT_PATH/ss-certs/org1/ldap.org1.example.com.key:/container/service/slapd/assets/certs/ldap.key
      - $PROJECT_PATH/ss-certs/org1/ldap.org1.example.com.crt:/container/service/slapd/assets/certs/ldap.crt
      - $PROJECT_PATH/ss-certs/org1/ca.org1.example.com.crt:/container/service/slapd/assets/certs/ca.crt
      - $PROJECT_PATH/openldap/ldif/bootstrap:/container/service/slapd/assets/config/bootstrap/ldif/custom
      - $PROJECT_PATH/openldap/pqparams.dat:/etc/ldap/pqchecker/pqparams.dat
    hostname: "example.com"
    networks:
      - byfn

  ldap.org2.example.com:
    image: demo/ldap:latest
    container_name: ldap.org2.example.com
    restart: always
    environment:
      LDAP_aANISATION: "LDAP Organization"
      LDAP_DOMAIN: "example.com"
      LDAP_BASE_DN: ""
      ORG_NAME: "org2"
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_CONFIG_PASSWORD: "config"
      # Tls
      LDAP_TLS: "True"
      LDAP_TLS_CRT_FILENAME: "ldap.crt"
      LDAP_TLS_KEY_FILENAME: "ldap.key"
      LDAP_TLS_CA_CRT_FILENAME: "ca.crt"
      LDAP_TLS_ENFORCE: "True"
      LDAP_TLS_CIPHER_SUITE: "SECURE256:+SECURE128:-VERS-TLS-ALL:+VERS-TLS1.2:-RSA:-DHE-DSS:-CAMELLIA-128-CBC:-CAMELLIA-256-CBC"
      LDAP_TLS_VERIFY_CLIENT: "never"
      LDAP_REPLICATION: "False"
      KEEP_EXISTING_CONFIG: "False"
      LDAP_REMOVE_CONFIG_AFTER_SETUP: "False"
      LDAP_SSL_HELPER_PREFIX: "ldap"
    command: --copy-service --loglevel debug --dont-touch-etc-hosts
    ports:
      - 736:636
    volumes:
      - /var/lib/ldap
      - /etc/ldap/slapd.d
      - $PROJECT_PATH/ss-certs/org2/ldap.org2.example.com.key:/container/service/slapd/assets/certs/ldap.key
      - $PROJECT_PATH/ss-certs/org2/ldap.org2.example.com.crt:/container/service/slapd/assets/certs/ldap.crt
      - $PROJECT_PATH/ss-certs/org2/ca.org2.example.com.crt:/container/service/slapd/assets/certs/ca.crt
      - $PROJECT_PATH/openldap/ldif/bootstrap:/container/service/slapd/assets/config/bootstrap/ldif/custom
      - $PROJECT_PATH/openldap/pqparams.dat:/etc/ldap/pqchecker/pqparams.dat
    hostname: "example.com"
    networks:
      - byfn

